
.sidebar-container{
color: white;
    position: fixed;
left: 0;

right: 0;
top: 0;
bottom: 0;
    z-index: 999;
    width: 70%;
    height: 100%;
    background:#1E1E1E;
    /* border-radius: 1.56vw 0 0 1.56vw; */
    /* justify-content: ; */
    align-items: center;
/* right: 0; */
    transition: 0.5s ease-in-out;
    /* border: 1px solid red; */
}

.icon{
    /* border: 1px solid red; */
    display: flex;
    justify-content:center;
    /* padding: 25px 20px; */
}
.iconkop{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 3% 0 1.3% 0;
}
.sidebar-menu{
    width: 90%;
    color: white;
    /* border: 1px solid green; */
}

.sidebar-wrapper{
   width: 100%;
    /* border: 1px solid red;/ */
    display: flex;
    justify-content: center;
}
.opacity-on{
    width: 100%;
    opacity: 1;
    left: 0;
}
.tyfuyi{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.rftgh{
    line-height: 0.7vw;
    font-size: 1.3vw;
    font-family: "sofia-pro", sans-serif;
     line-height: 1vw;
     letter-spacing: -0.5%;
  }
#ghduyf{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}
#tyfuyi{
    width: 40%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.menufooter{
    display: flex;
    align-items: center;
    column-gap: 1vw;
    padding-top: 2%;
}
.opacity-off{
    opacity: 0;
    left: 100%;
}
.sidebar-menu hr{
    color: #F5F5F5;
}
.accordion-header{
    background-color:#1E1E1E;

}
.accordion-button:not(.collapsed){
background-color: #1E1E1E;
box-shadow: none;
color: white;
}
.accordion-button{
    padding: 0;
    background-color:#1E1E1E;
    border-radius: none;
    color:#F5F5F5;
     border: none;
     text-transform: uppercase;
     
}

.accordion-button:focus{
    box-shadow: none;
}
.accordion-item{
    border: none;
    background-color: #1E1E1E;

}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
  }


  @media (max-width:767px) {
  
    .tyfuyi{
        width: 100%;
        /* border: 1px solid red; */
        padding: 0;
        display: inline;
    }
    .rftgh{
        font-size: 14px;
    }
    #ghduyf{
        padding: 0;
    }
  }